/* basis instellingen */
* {
   border: 2px solid black;
   overflow: auto;
   box-sizing:border-box;
   margin:0px;
   }


/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: black;  
    
    color: white;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

.rij {
  padding: 10px;
}
/* Home en geschiedenis */
.plaatjeLinks {
  float: left;
  width: 300px
}

.tekstRechts {
  float: right;
  width: 370px;
  } 

.plaatjeLinks1 {
  float: left;
  width: 300px;
  height: 300px;
  margin: 5px;
}

.plaatjeLinks2 {
  float: left;
  width: 300px;
  height: 300px;
  margin: 4px;
}

/* layout pagina horloges en droombaan */
.plaatjeRechtsH {
  float: right;
  width: 230px;
  height: 230px;
}
.plaatjeRechtsH1 {
  float: right;
  width: 220px;
  height: 220px;
  margin: 3px;
}

.TekstLinksH{
 float: left;
}
.TekstLinks {
   float: left;
   width: 450px;
   height: 200px;

  }
/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color:skyblue;
    text-decoration: none;
 } 

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #cac8c8;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}


body {
 background-image: url("https://cdn.webshopapp.com/shops/303955/files/354836865/2760x1240x1/image.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}